#Proyectos {
    background-color: rgb(238, 194, 240);
    height: 425px;
}
#Educacion {
    height: 425px;
    background-color: rgb(203, 176, 221);
}
#Edu{
    margin-left: 234px;
   background-color: rgb(129, 124, 124);
}